p
{
    margin: 2px;
}



.product
{
    margin: 0 0 10px 0;
    padding: 10px;
    display: block;
    border-radius: 2px;
}



.product:hover
{
    background-color: rgba(0, 0, 0, .05);
}



.product:hover .product-name
{
    font-style: italic;
}



.product-row
{
    margin: 25px;
    border-bottom: 1px solid grey;
    border-radius: 2px;
}



.product-img
{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 2px;
}



.product-name
{
    width: 90%;
    overflow: hidden;
    font-variant: small-caps;
}



.product-price
{
    width: 90%;
    font-weight: lighter;
}