{% extends "layout.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
    <br/><br/><title>Products</title>
    <b><p1>Products page</p1></b><br/>
    {% for item in prod_list %}
        <br/>
        {{ item.name}}<br/>
        {{ item.description}}<br/>
        {% for att in item.attributes %}
            {{ att }}<br/>
        {% endfor %}
    <form action="/item" method="post">
    <input type="hidden" name='item_id' value={{ item.id }}>
    <button type="submit" value="submit">View</button>
    </form>
    {% endfor %}
{% endblock %}
</body>
</html>
