{% extends "layout.html" %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
<body>
        {% block content %}
            <!-- supposed to be in head -->
            <title>Product {{product['name']}}</title>
            <h3>{{product['name']}}</h3>
            <p>{{product['description']}}</p>

            <div>
               {% for s in product_skus %}
                    <h3>SKU ID</h3>
                      {{ s['id'] }}
                      <h3>SKU Price</h3>
                      {{ s['price']}}
                      <h3>SKU Currency</h3>
                      {{ s['currency'] }}
                      <h3>Attributes</h3>
                      {% for a in s['attributes']%}
                        {{a}} : {{s['attributes'][a]}}
                      {% endfor %}
                    {% if not loop.last %}
                      <hr>
                    {% endif %}
                {% endfor %}
            </div>
    {% endblock %}
</body>